body{
  
}
#banner{
    width: 100%;
}
h1{
        text-align: center;  
}

p{
    text-align: center;
}

em strong{
    color:red;
}

.principal{
    background: #cccccc;
}

.diferenciales{
    background: white;
}

h2{
    text-align: center;
}
.items{
    font-style: italic;
}
